<footer>
  <hr>

  <div class="container footer">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- <div class=" row footerLinksBox"> -->
        <!-- <ul class="footerLinksList"> -->
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/sinansk/">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="icon fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/sinansk">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="icon fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted copyrightInfo">© Sinan Şık </p>
      </div>
    </div>
  </div>
</footer>

</body>

</html>
