
body {
  background-color: #E8ECEF;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.fas {
  color: #343a40;
}
.jumbotron {
  margin-bottom: 50px;
}
